<!DOCTYPE html>

<html>
 <head>
   <link rel="stylesheet" type="text/css" href="main.css" />
 </head>

<body>
 <div id="page-container">
   <div id="content-wrap">
    
   </div>
   <footer id="footer">
   
    <!-- page content -->

     <br>
				<hr>
				<br>
       
        <div> 
          <p> Footer Here </p>

          
          
        </div>
        
				<br>
				<br> 
        </footer>
 </div>
</body>

</html> 


