<!DOCTYPE html>

<html>
 <head>
   <link rel="stylesheet" type="text/css" href="main.css" />
 </head>

<body style='background: url("/images/<%= info[3] %>") no-repeat center;'>
 <div id="page-container">
   <div id="content-wrap">
    
   </div>
   <footer id="footer">
   
    <!-- page content -->

     <br>
				<hr>
				<br>
       
        <div> 
          <a href="https://github.com/joshtrup1/MB-Search-Enjin-Capstone">
            <img src="images/mb.png" width="100">
          </a>    
          <p> CSUMB 2021 CAPSTONE </p>
        </div>
        </footer>
 </div>
</body>

</html> 

