<!DOCTYPE html>

<html>
 <head>
   <link rel="stylesheet" type="text/css" href="main.css" />
 </head>

<body>
 <div id="page-container">
   <div id="content-wrap">
    
   </div>
   <footer id="footer">
      <br>
      <a href="https://github.com/joshtrup1/MB-Search-Enjin-Capstone">
          <img src="images/mb.png" width="100">
      </a>    
      <p> CSUMB 2021 CAPSTONE </p>
        
    </footer>
 </div>
</body>

</html> 

