<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs") %>

<html>
<head>

    <!-- CSS only -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>

<body>
    <form action="/admin">
        <label for="new_class">Add new class:</label>
        <input type="text" id="new_class" name="new_class"><br><br>
        
        <input type="submit" value="Submit">
      </form>


</body>


