<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs") %>

<html>
<head>

    <!-- CSS only -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <!-- Google Sign in /API -->
    <meta name="google-signin-client_id" content="627451540807-4nbq74v1u49u9bkde924e65ur9ff30tk.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>





<body>



  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  
  <div id=loggedAs>Logged in as: </div>
  <div id=displayLoginName></div>
  <div id=displayLoginLogo></div>
  
<div id=signOutBtn >
  <a style= "color:blue;" href="#" onclick="signOut();">Sign out</a>
  </div>


   <iframe frameborder="0" scrolling="no"
     width="640" height="480"
     src="file:///D:/Downloads/Teamwork%20-%20Tips%20and%20Tricks.pdf">
  </iframe>

  
</body>





<script>
  
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  
  var displayLoggedinName = googleUser.getBasicProfile().getName();
  var displayLoggedinEmail = googleUser.getBasicProfile().getEmail();
  var displayLoginLogo = googleUser.getBasicProfile().getImageUrl();

  // If I want to display the name instead of email
  //var firstNameLetter = displayLoggedinName.charAt(0).toUpperCase();
  //var lastNameLetter = displayLoggedinName.charAt(5).toUpperCase();
  //var firstSlice = displayLoggedinName.splice
  //var fullNameDisplayed =  firstNameLetter + lastNameLetter;
 

  document.querySelector('#displayLoginName').innerHTML=displayLoggedinEmail;

  // If I want to display Login Logo (not working yet) 
  //document.querySelector('#displayLoginLogo').innerHTML=displayLoginLogo;
  
}




  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    window.location.reload();
  }



</script>



</html>
<%- include ("partials/footer.ejs") %>





